<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <h2>Donaciones Para la App Copa Sur Jalisco MTB </h2>
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <p>Ayúdanos a ofrecerte un mejor servicio en la pagina y mantener la activa. Con tu aportacion lograremos mejorar tu experiencia de usuario, te lo agradece: <a href="www.copasurjaliscomtb.com">copasurjaliscomtb.com</a></p>
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe src="https://donorbox.org/embed/tu-donacion-app-copasur" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
    </div>
  </div>
