<div class="container-fluid home-full-bg">
  
  <div class="row bg-black-65">
    <div class="jumbotron text-center">
      <h1>Ranking Copa Sur Jalisco MTB</h1>

      <p class="text-center"><a class="btn btn-success btn-lg" href="/ranking/2020" role="button">2020</a></p>
      <p class="text-center">
        Historial:<br/>
        <a href="/ranking/2019" class=""> 2019</a>,
        <a href="/ranking/2018" class=""> 2018</a>,
        <a href="/ranking/2017" class=""> 2017</a>
      </p>
    </div>


    <div class="col-sm-12 text-center">
      <h2> Resultados Por Fechas MTB</h2>
    </div>
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <a href="/races_of/2020" class="btn btn-danger btn-lg">2020</a>
      <br/><br/>
    </div>


    <div class="col-sm-8 col-sm-offset-2 text-center">
      <!-- <a href="/road" class=""> 
        <h3>Gran Fondo 200km La Garita 2018</h3>
      </a> -->
    </div>
  </div>
</div>
