<div class="container-fluid">
  <div class="row raking-container">
    <div class="col-sm-12 text-center">
      <h1>Ranking Copa Sur Jalisco MTB</h1>
    </div>
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <a href="/ranking/2019" class="btn btn-success btn-lg">2019</a>
        <br/><br/>
        <a href="/ranking/2018" class="btn btn-primary">2018</a>
        <a href="/ranking/2017" class="btn btn-warning">2017</a>
    </div>
  </div>

  <div class="row results-mtb-container">
    <div class="col-sm-12 text-center">
      <h2> Resultados Por Fechas MTB</h2>
    </div>
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <a href="/races_of/2019" class="btn btn-success btn-lg">2019</a>
      <br/><br/>
    </div>
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <a href="/races_of/2018" class="btn btn-primary">2018</a>
      <a href="/races_of/2017" class="btn btn-warning"> 2017</a>
    </div>
  </div>

  <div class="row results-road-container">
    <div class="col-sm-12 text-center">
      <h2> Gran Fondo 200km La Garita 2018</h2>
    </div>
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <a href="/road" class="btn btn-warning btn-lg">2018</a>
    </div>
  </div>
</div>
