<div class="container _padding-top-bottom-30px">
  <div class="row">
    <div class="col-sm-12 text-center ">
      <h1>Gran Fondo La Garita 2018</h1>
    </div>
    <div class="col-sm-12 _padding-top-bottom-30px">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr class="success">
              <th>Lugar</th>
              <th>Numero de Corredor</th>
              <th>Tiempo</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Equipo</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>1</td>
                <td>43</td>
                <td>6h 37m 41s</td>
                <td>Luis Felipe</td>
                <td>Flores Gutierrez</td>
                <td>Bastardos</td>
              </tr>
              <tr>
                <td>2</td>
                <td>8</td>
                <td>(+) 21m 45s</td>
                <td>Oswalldo</td>
                <td>Reyes Luis Juan</td>
                <td>Canarios R.T</td>
              </tr>
              <tr>
                <td>3</td>
                <td>7</td>
                <td>(+) 21m 45s</td>
                <td>Fernando</td>
                <td>Reyes Luis Juan</td>
                <td>Canarios R.T</td>
              </tr>
              <tr>
                <td>4</td>
                <td>4</td>
                <td>(+) 31m 30s</td>
                <td>Antonio de Jesus</td>
                <td>Loza Ramirez</td>
                <td>Anti Pro</td>
              </tr>
              <tr>
                <td>5</td>
                <td>53</td>
                <td>(+) 35m 20s</td>
                <td>Jose de Jesus</td>
                <td>Ochoa Avila</td>
                <td>Costales Chito</td>
              </tr>
              <tr>
                <td>6</td>
                <td>26</td>
                <td>(+) 38m 54s</td>
                <td>Juan Manuel </td>
                <td>Hurtado Franco</td>
                <td>Team 7.20</td>
              </tr>
              <tr>
                <td>7</td>
                <td>54</td>
                <td>(+) 38m 54s</td>
                <td>Angel Arturo</td>
                <td>Cervantes Aquino</td>
                <td>4 Hermanos</td>
              </tr>
              <tr>
                <td>8</td>
                <td>52*** Subio/Camioneta</td>
                <td>(+) 39m 47s</td>
                <td>Mario Eduardo </td>
                <td>Martinez Vidales</td>
                <td>Costales Chito</td>
              </tr>
              <tr>
                <td>9</td>
                <td>51</td>
                <td>(+) 47m 12s</td>
                <td>Jose de Jesus</td>
                <td>Gacia Sanchez</td>
                <td>Sahuayo</td>
              </tr>
              <tr>
                <td>10</td>
                <td>11</td>
                <td>(+) 55m 47s</td>
                <td>Stephen</td>
                <td>Sterlin</td>
                <td>Gelasios Team</td>
              </tr>
              <tr>
                <td>11</td>
                <td>66</td>
                <td>(+) 1h 06m 49s</td>
                <td>Juan Carlos </td>
                <td>Cervantes Macias</td>
                <td>Criket</td>
              </tr>
              <tr>
                <td>12</td>
                <td>13</td>
                <td>(+) 1h 08m 32s</td>
                <td>Roberto </td>
                <td>Ramirez Ortiz</td>
                <td>Tequila Bike</td>
              </tr>
              <tr>
                <td>13</td>
                <td>40</td>
                <td>(+) 1h 14m 13s</td>
                <td>Jose Adiran</td>
                <td>Castañeda Martinez</td>
                <td>Sayula</td>
              </tr>
              <tr>
                <td>14</td>
                <td>36</td>
                <td>(+) 1h 14m 35s</td>
                <td>Felipe de Jesus</td>
                <td>Deniz Verduzco</td>
                <td>Paya Bike</td>
              </tr>
              <tr>
                <td>15</td>
                <td>37</td>
                <td>(+) 1h 14m 35s</td>
                <td>Gelaio </td>
                <td>Trujillo Lara</td>
                <td>Gelasios Team</td>
              </tr>
              <tr>
                <td>16</td>
                <td>39</td>
                <td>(+) 1h 14m 35s</td>
                <td>Jesus</td>
                <td>Ruvalcaba Castañeda</td>
                <td>Gelasios Team</td>
              </tr>
              <tr>
                <td>17</td>
                <td>3</td>
                <td>(+) 1h 16m 22s</td>
                <td>Oscar Omar</td>
                <td>Lopez</td>
                <td>Anti Pro</td>
              </tr>
              <tr>
                <td>18</td>
                <td>57</td>
                <td>(+) 1h 17m 45s</td>
                <td>Valentin</td>
                <td>Gomez</td>
                <td>Sección 80</td>
              </tr>
              <tr>
                <td>19</td>
                <td>30</td>
                <td>(+) 1h 22m 40s</td>
                <td>Jaime Omar</td>
                <td>Rodriguez Alcalá</td>
                <td>Wizache MTB</td>
              </tr>
              <tr>
                <td>20</td>
                <td>46</td>
                <td>(+) 1h 31m 35s</td>
                <td>Javier</td>
                <td>Samaniego</td>
                <td>Venados Bike</td>
              </tr>
              <tr>
                <td>21</td>
                <td>24</td>
                <td>(+) 1h 31m 40s</td>
                <td>Gonzalo</td>
                <td>Merino Govela</td>
                <td>Webonazos</td>
              </tr>
              <tr>
                <td>22</td>
                <td>38</td>
                <td>(+) 1h 33m 40s</td>
                <td>Javier</td>
                <td>Trujillo Solorzano</td>
                <td>Gelasios Team</td>
              </tr>
              <tr>
                <td>23</td>
                <td>14</td>
                <td>(+) 1h 33m 25s</td>
                <td>Esteban Alonso</td>
                <td>Arrazda Glez</td>
                <td>Anti Pro</td>
              </tr>
              <tr>
                <td>24</td>
                <td>23</td>
                <td>(+) 1h 36m 50s</td>
                <td>Julian </td>
                <td>Ferrero Ortega</td>
                <td>Botargas FT Pro Bike</td>
              </tr>
              <tr>
                <td>25</td>
                <td>59</td>
                <td>(+) 1h 36m 50s</td>
                <td>Stefanie Salas </td>
                <td>Rodriguez</td>
                <td>Bastardos</td>
              </tr>
              <tr>
                <td>26</td>
                <td>28</td>
                <td>(+) 1h 40m 05s</td>
                <td>Francisco Manuel </td>
                <td>Guerrero Ortega</td>
                <td>Team 7.20</td>
              </tr>
              <tr>
                <td>27</td>
                <td>25</td>
                <td>(+) 1h 48m 50s</td>
                <td>Carlos Alberto</td>
                <td>Lizalde Moreno</td>
                <td>Come Galletas</td>
              </tr>
              <tr>
                <td>28</td>
                <td>22</td>
                <td>(+) 1h 54m 20s</td>
                <td>Alberto </td>
                <td>Villa Robles</td>
                <td>-</td>
              </tr>
              <tr>
                <td>29</td>
                <td>32</td>
                <td>(+) 2h 05m 18s</td>
                <td>Daniel </td>
                <td>Serrano</td>
                <td>Venados Bike</td>
              </tr>
              <tr>
                <td>30</td>
                <td>12</td>
                <td>(+) 2h 05m 28s</td>
                <td>Daniel Alejandro</td>
                <td>Rodriguez Franco</td>
                <td>-</td>
              </tr>
              <tr>
                <td>31</td>
                <td>15</td>
                <td>(+) 2h 10m 31s</td>
                <td>Felipe de Jesus</td>
                <td>Cuevas Castillo</td>
                <td>Copa Sur Jalisco</td>
              </tr>
              <tr>
                <td>32</td>
                <td>62</td>
                <td>(+) 2h 10m 45s </td>
                <td>Sofia</td>
                <td>Aguirre Perez</td>
                <td>Bastardos</td>
              </tr>
              <tr>
                <td>33</td>
                <td>60</td>
                <td>(+) 2h 10m 45s</td>
                <td>Jorge Octavio</td>
                <td>Sanchez Orta</td>
                <td>Bastardos</td>
              </tr>
              <tr>
                <td>34</td>
                <td>29*** Subio/Camioneta</td>
                <td>(+) 2h 21m 00s</td>
                <td>Laura Margarita</td>
                <td>Aguilar Becerra</td>
                <td>Team 7.20</td>
              </tr>
              <tr>
                <td>35</td>
                <td>56</td>
                <td>(+) 2h 24m 46s</td>
                <td>Gregorio</td>
                <td>Leñero Hernandez</td>
                <td>Pro Cura Cycling Team</td>
              </tr>
              <tr>
                <td>36</td>
                <td>34</td>
                <td>(+) 2h 31m 18s</td>
                <td>Jorge Alberto</td>
                <td>Gutierrez Chavez</td>
                <td>Anti Pro</td>
              </tr>
              <tr>
                <td>37</td>
                <td>55</td>
                <td>(+) 2h 39m 15s</td>
                <td>Hector Eduardo</td>
                <td>Valdivia Jimenez</td>
                <td>Tequila Bike</td>
              </tr>
              <tr>
                <td>38</td>
                <td>45</td>
                <td>(+) 2h 39m 15s</td>
                <td>Jose Angel</td>
                <td>Mata Camberos</td>
                <td>Copa Sur Jalisco</td>
              </tr>
              <tr>
                <td>39</td>
                <td>1</td>
                <td>(+) 2h 39m 50s</td>
                <td>Daniel Delgado</td>
                <td>Gamboa</td>
                <td>Anti Pro</td>
              </tr>
              <tr>
                <td>40</td>
                <td>33</td>
                <td>(+) 2h 40m 54s</td>
                <td>Gilberto</td>
                <td>Samaniego</td>
                <td>Venados Bike</td>
              </tr>
              <tr>
                <td>41</td>
                <td>20</td>
                <td>(+) 2h 57m 18s</td>
                <td>Ana Maria</td>
                <td>Garcia Mejia</td>
                <td>Tequila Bike</td>
              </tr>
              <tr>
                <td>42</td>
                <td>5*** Subio/Camioneta</td>
                <td>(+) 2h 57m 20s</td>
                <td>Luz Maria </td>
                <td>Garcia Vera</td>
                <td>Anti Pro</td>
              </tr>
              <tr>
                <td>43</td>
                <td>31</td>
                <td>(+) 3h 01m 44s</td>
                <td>Jesus Edmundo</td>
                <td>Lomeli Morales</td>
                <td>-</td>
              </tr>
              <tr>
                <td>44</td>
                <td>16</td>
                <td>(+) 3h 03m 08s</td>
                <td>Emmnuel</td>
                <td>Pelayo</td>
                <td>Autlan</td>
              </tr>
              <tr>
                <td>45</td>
                <td>27</td>
                <td>(+) 3h 04m 30s</td>
                <td>Nacho</td>
                <td>Haldonado</td>
                <td>Bike City</td>
              </tr>
              <tr>
                <td>46</td>
                <td>58</td>
                <td>(+) 3h 10m 08s</td>
                <td>Obdulia </td>
                <td>Gama Valdez</td>
                <td>Paya Bike</td>
              </tr>
              <tr>
                <td>47</td>
                <td>6</td>
                <td>(+) 3h 10m 08s</td>
                <td>Jaime</td>
                <td>Carrillo Aviles</td>
                <td>Canarios R.T</td>
              </tr>
              <tr>
                <td>48</td>
                <td>17</td>
                <td>(+) 3h 10m 10s</td>
                <td>Severiano</td>
                <td>Gomez</td>
                <td>Autlan</td>
              </tr>
          </tbody>
        </table>
        
      </div>
        
      </div>
    </div>
  </div>
</div>